body {
  background: linear-gradient(#c5796d, #dbe6f6);
}

input[type="submit"] {
  margin-left: 10px;
  border-radius: 1px;
}

input[type="text"] {
  border-radius: 1px;
}

.list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  width: 10%;
}

.image {
  width: 100%;
}
